*,:after,:before {
    --tw-text-opacity: 1;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --text-size: 1rem;
    --text-color: #ffffff;
  }

@font-face {
    font-family: Kanit;
    src: url(../fonts/Kanit-Light.ttf);
} 

div {
    display: block;
    unicode-bidi: isolate;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
}

html {
    background-color: rgb(0, 0, 0);
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Kanit;
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: calc(var(--text-size) * 3.8);
    font-weight: inherit;
    color: var(--text-color);
}

h1.in-view {
    animation: in-view-motion-left 1s ease 1 both;
}

@keyframes in-view-motion-up{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes in-view-motion-left{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

p {
    font-size: var(--text-size);
    font-weight: inherit;
    color: var(--text-color);
}

p.in-view {
    animation: in-view-motion-left 1s ease 1 both;
}

main {
    position: relative;
    flex: 1 1 0%;
}

section {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}



/* class */

.text-abstract-container {
    display: flex;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.text-abstract-frame {
    transform: scale(1.0);
    animation: text-ab-motion 4s cubic-bezier(0, 0, 0, 1.0);
}

.text-abstract-left {
    margin-left: 0px;
    width: 200px;
    height: 125px;
    transform-style: preserve-3d;
    transform: translate3d(-150px, -100px, 0) rotateX(20deg) rotateY(50deg);
}

.text-abstract-right {
    margin-left: 40px;
    width: 200px;
    height: 125px;
    transform-style: preserve-3d;
    transform: translate3d(150px, -100px, 0) rotateX(-20deg) rotateY(50deg);
}

.text-align-start {
    text-align: start;
}
.text-align-end {
    text-align: end;
}

.text-ab-left {
    margin-left: -30px;
    animation: text-ab-offset-left-motion 4s cubic-bezier(0, 0, 0, 1.0);
}

.text-ab-right {
    animation: text-ab-offset-right-motion 4s cubic-bezier(0, 0, 0, 1.0);
}

.text-ab {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 20px;
    color: white;
}


@keyframes text-ab-offset-right-motion {
    0%   {
        opacity: 0.0;
        margin-left: 100px;
    }
    100% {
        opacity: 1.0;
        margin-left: 0;
    }
}
@keyframes text-ab-offset-left-motion {
    0%   {
        opacity: 0.0;
        margin-left: -130px;
    }
    100% {
        opacity: 1.0;
        margin-left: -30;
    }
}

.background {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1.0;
}

.background-img {
    background: black url('../images/background.png') no-repeat fixed center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 400px;
    animation: background-motion 4s cubic-bezier(0, 0, 0, 1.0);
}

@keyframes background-motion {
    0%   {
        background-size: 500px;
    }
    100% {
        background-size: 400px;
    }
}

@keyframes text-ab-motion {
    0%   {
        opacity: 0.0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1.0;
        transform: scale(1.0);
    }
}

.screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    position: sticky;
    width: 100%;
    z-index: 50;
    height: 2.75rem;
    align-items: center;
    top: 0;
}

.c-navbar {
    display: flex;
    border-radius: .5rem;
    margin-top: .25rem;
    height: 100%;
    justify-content: space-between;
    transition: height 0.5s;
}

.c-navbar:hover {
    height: 150%;
  }

.l-navbar {
    display: flex;
    align-items: center;
}

.i-navbar {
    display: flex;
    position: relative;
    text-decoration: none;
    line-height: 1.125rem;
    margin-left: .25rem;
    margin-right: .25rem;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .0075rem;
    opacity: .6;
    transition: .3s;
}

.i-navbar:hover {
    opacity: 1
}

.i-navbar:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.i-navbar:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.slid-title {
    display: flex;
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.slid-c-title {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: stretch;
}

.slid-s-title {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    align-items: start;
    justify-content: start;
    text-align: start;
}

.slid-in-title {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: stretch;
}

.slid-text-title {
    color: white;
    font-size: 5.25rem;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 1px;
    opacity: 1;
}

.each-title-motion{
    font-size: 5.25rem;
    animation: each-title-motion-animate 1s ease 1 both;
    display: inline-block;
}

@keyframes each-title-motion-animate{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.slid-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slid-c-1 {
    display: flex;
    justify-content: end;
    text-align: end;
    flex-wrap: wrap;
    width: 2rem;
    margin: 3rem 0 3rem 5rem;
    padding: 1rem 0 5rem 10rem;
}

.slid-text-1 {
    word-wrap: break-word;
    font-size: 1.75rem;
    font-weight: 100;
}

.slid-img-1 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 5rem;
}

.slid-img-block-1 {
    display: flex;
    overflow: hidden;
    border-radius: .5rem;
    max-width: 400px;
    min-width: 250px;
    
}

.slid-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 900px;
    min-width: 600px;
    max-width: 600px;
}

.slid-2-grid {
    display: grid;
    align-self: center;
    gap: 5px;
    grid-template-areas:
    'left left left left left header'
    'left left left left left header'
    'left left left left left down'
    'left left left left left down';
    background-color: rgb(72, 0, 255);
    height: 100%;
    width: 100%;
}

.slid-img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #ff77d4;
}

.slid-frame-img {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    background-color: #ffffff00;
}

.slid-frame-1-img {
    width: 100%;
    height: 80%;
    transform: translateX(-20px);
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-top: 20px solid white;
    background-color: rgba(255, 255, 255, 0);
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slid-frame-2-img {
    width: 100%;
    height: 20%;
    z-index: 1;
    transform: translateX(-20px);
    border-left: 20px solid white;
    border-right: 20px solid white;
    background-color: white;
}

.slid-frame-photo {
    position: relative;
    top: 50px;
    transform: scale(1.1);
}

.slid-c-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
}

.slid-l-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #7300ff;
}

.slid-s-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #5900ff;
}

.social-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    max-height: 100px;
}

.social-item {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00ff08;
    width: 100%;
    max-width: 600px;
    min-width: 100px;
    height: 100%;
    min-height: 110px;
}

.social-title {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #bfff00;

    width: 40%;
    height: 100%;
}

.social-icon {
    display: flex;
    max-height: 50px;
    max-width: 100px;
    padding: .25rem;
    background-color: #ffae00;
    
}

.social-icon img{
    display: flex;
    width: 50px;
    height: 50px;
}



.social-linebar {
    display: flex;
    background-color: #f20000;
    width: 100%;
    height: 5px;
}

.social-icon-title {
    display: block;
    background-color: #ffae00;
    width: 100%;
    height: 100%;
}

.social-head-title {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 1rem;
    font-weight: bold;
}
.social-text-title {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 0.75rem;
    line-height: 1rem;
}



.social-img {
    display: flex;
    background-color: #ff00d4;
    width: 100%;
    height: 100%;
}

.fade-img {
    mask-image: linear-gradient(black, transparent);
    mask-mode: alpha;
}

.social-img-size {
    position: relative;
    left: 30px;
    display: flex;
    transform: scale(3);
    transition: transform 0.25s ease-out;
    cursor: pointer;
}

.social-img-size:hover {
    transform: scale(3.2);
}

.social-img-block {
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
}

.social-item[side="right"] {
    flex-direction: row-reverse;
}



.line-between-chart {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 2.5px;
    transform-origin: 0% 100%;
    background-color: #ffffff;
}

.line-between-chart.in-view {
    animation: in-view-line-between-chart 2s ease 1 both;
}

@keyframes in-view-line-between-chart{
    from{
        opacity: 0;
        transform: scaleX(0);
    }
    to{
        opacity: 1;
        transform: scaleX(1);
    }
}

.line-between {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 1px;
    transform-origin: 100% 0%;
    background-color: #ffffff;
}

.line-between.in-view {
    animation: in-view-line-between 2s ease 1 both;
}

@keyframes in-view-line-between{
    from{
        opacity: 0;
        transform: scaleX(0);
    }
    to{
        opacity: 1;
        transform: scaleX(1.5);
    }
}

.slid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(505px,1fr));
    row-gap: 128px;
    justify-content: center;
    align-items: start;
    background-color: aqua;
    margin-bottom: 5rem;
    height: 900px;
    min-width: 600px;
    max-width: 600px;
}

.slid-3-title {
    font-size: 54px;
    font-weight: 600;
}

.slid-3-chart {
    display: block;
    width: 500px;
    height: 300px;
    justify-self:center;
}

.slid-3-bars {
    font-size: 24px;
    font-weight: 600;
    background-color: gray;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.slid-3-bars li{
    position: relative;
    display: table-cell;
    width: 100px;
    height: 300px;
}

.slid-3-bars img{
    position: absolute;
    width: 38px;
    height: 38px;
    bottom: -48px;
    right: 40px;
    text-align: center;
}

.slid-3-bars .bar{
    position: absolute;
    display: block;
    background-color: #ffae00;
    max-height: 100%;
    --percentage-height: 10%;
    width: 50px;
    height: 0%;
    bottom: 0;
    border-radius: 0.25rem;
    text-align: center;
    transition: 0.25s;
    transition: height 1s ease-in,background-color 0.25s ease-in;
    transition-property: background-color;
}

.slid-3-bars .bar.in-view{
    height: var(--percentage-height);
    transition: height 1s ease-out,background-color 0.25s ease-out;
}

.slid-3-bars .bar:hover{
    background-color: #ff3c00;
    cursor: pointer;
}

.slid-3-bars .bar:before{
    position: relative;
    bottom: 35px;
    font-size: 12px;
    font-weight: 200;
    content: attr(percentage)'%';
}

.slid-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 900px;
    min-width: 600px;
    max-width: 600px;
}

.slid-4-info {
    background-color: rebeccapurple;
    width: 30%;
    height: 100%;
}

.slid-4-frame {
    background-color: red;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slid-4-title {
    text-align: center;
    font-size: 54px;
    font-weight: 600;
}

.slid-4-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfff00;
    width: 100%;
    height: 70%;
}

.slid-4-card-max {
    display: flex;
    background-color: #ff7b00;
    width: 450px;
    height: 600px;
    perspective: 1000px;
}

.slid-4-card-max.flip .slid-4-card{
    transform: rotateY(180deg) !important;
}

.slid-4-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.slid-4-card-front, .slid-4-card-back{
    display: flex;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slid-4-card-front img, .slid-4-card-back img{
    width: 100%;
    height: 100%;
}

.slid-4-card-front {
    background-color: #ff0000;
}
.slid-4-card-back {
    background-color: #2f00ff;
    transform: rotateY(180deg);
}

.slid-4-filp-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background-color: #028f00;
    width: 100%;
    height: 10%;
}
.slid-4-filp {
    text-align: center;
    border-radius: 0.5rem;
    border-style: none;
    transition: 0.1s;
    background-color: #0077ff;
    font-size: 40px;
    font-weight: 200;
    width: 200px;
    height: 60px;
}

.slid-4-filp:hover {
    background-color: #0050ab;
    transform: scale(1.1);
}

.slid-4-filp:active {
    transform: scale(1);
}

.slid-5 {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: aqua;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 900px;
    min-width: 600px;
    max-width: 600px;
}

.slid-5-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 100%;
}

.slid-5-frame-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: 100%;
}

.slid-5-title {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    background-color: rgb(255, 143, 143);
    width: 100%;
    height: 20%;
}

.slid-5-top {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: #bfff00;
    width: 100%;
    height: 70%;
}

.slid-5-mid {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #bfff00;
    width: 100%;
    height: 70%;
}

.slid-5-down {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: #bfff00;
    width: 100%;
    height: 70%;
}

.slid-5-icon {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}

.slid-5-icon.in-view {
    animation: in-view-slid-5-icon 1s ease 1 both;
}

@keyframes in-view-slid-5-icon{
    from{
        left: 40px;
    }
    to{
        left: 20px;
    }
}

.slid-5-line {
    position: relative;
    top: 30px;
    left: 20px;
    background-color: #ffffff;
    width: calc(100% - 40px);
    height: 2.5px;
}

.slid-5-line.in-view {
    animation: in-view-slid-5-line 1s ease 1 both;
}

@keyframes in-view-slid-5-line{
    from{
        opacity: 0;
        width: 0px;
    }
    to{
        opacity: 1;
        width: calc(100% - 40px);
    }
}

.slid-5-title-text {
    font-size: 40px;
    font-weight: 200;
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgb(255, 143, 143);
    width: 100%;
    height: 50px;
}

.slid-5-text {
    font-size: 27px;
    font-weight: 200;
    margin-left: 20px;
    background-color: rgb(224, 47, 47);
    width: 100%;
    height: 20%;
}

.slid-6 {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: aqua;
    margin-top: 5rem;
    margin-bottom: 1rem;
    height: 650px;
    width: 500px;
    min-width: 400px;
    max-width: 400px;
}

.slid-6-title {
    text-align: center;
    align-self: center;
    font-size: 40px;
    font-weight: 200;
    background-color: rgb(255, 143, 143);
    width: 800px;
    height: 20%;
}
.slid-6-info {
    text-align: center;
    align-self: center;
    background-color: rgb(255, 70, 70);
    width: 800px;
    height: 100%;
}

.slid-6-1 {
    display: grid;
    align-self: center;
    gap: 10px;
    grid-template-areas:
    'header header top'
    'left mid right'
    'left mid right';
    background-color: rgb(72, 0, 255);
    height: 100%;
    width: 800px;
}

.slid-6-2 {
    display: grid;
    align-self: center;
    gap: 10px;
    grid-template-areas:
    'top top header'
    'mid mid header'
    'left right header';
    background-color: rgb(72, 0, 255);
    height: 100%;
    width: 800px;
}

.slid-6-3 {
    display: grid;
    align-self: center;
    gap: 10px;
    grid-template-areas:
    'header top right'
    'header top right'
    'header down right';
    background-color: rgb(72, 0, 255);
    height: 100%;
    width: 800px;
}

.slid-6-4 {
    display: grid;
    align-self: center;
    gap: 10px;
    grid-template-areas:
    'top top top'
    'top top top'
    'left right header';
    background-color: rgb(72, 0, 255);
    height: 100%;
    width: 800px;
}
.slid-6-5 {
    display: grid;
    align-self: center;
    gap: 10px;
    grid-template-areas:
    'header right right right'
    'header right right right'
    'header right right right'
    'header right right right'
    'header right right right'
    'header right right right'
    'header right right right'
    'header right right right'
    'header right right right'
    'header down down down';
    background-color: rgb(72, 0, 255);
    height: 100%;
    width: 900px;
}

.slid-6-6 {
    display: grid;
    align-self: center;
    gap: 10px;
    grid-template-areas:
    'left left left header'
    'left left left header'
    'left left left header'
    'left left left header'
    'left left left header'
    'left left left header'
    'left left left header'
    'left left left header'
    'left left left header'
    'down down down header';
    background-color: rgb(72, 0, 255);
    height: 100%;
    width: 900px;
}

.slid-7 {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: aqua;
    margin-top: 5rem;
    margin-bottom: 1rem;
    height: 1600px;
    width: 500px;
    min-width: 400px;
    max-width: 400px;
}

.slid-7-title {
    text-align: center;
    align-self: center;
    font-size: 40px;
    font-weight: 200;
    background-color: rgb(255, 143, 143);
    width: 800px;
    height: 20%;
}
.slid-7-info {
    text-align: center;
    align-self: center;
    background-color: rgb(255, 70, 70);
    width: 800px;
    height: 100%;
}

.slid-7-list {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 80px;
    padding-bottom: 250px;
    background-color: rgb(72, 0, 255,0);
    height: 100%;
    width: 900px;
}

.image-show-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 5px;
    background-color: #0077ff;
}

.image-show {
    display: flex;
    width:0%;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out;
    border-radius: 0.5rem;
}

.image-show.active {
    width:100%;
}

.image-show img{
    cursor: pointer;
    flex: 1 0 100%;
    object-fit: cover;
}

.image-slot {
    display: flex;
    gap: 20px;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #558304;
    height: 100%;
    width: 100%;
}

.image-slot .dot{
    cursor: pointer;
    opacity: 0.8;
    border-radius: 30px;
    border-style: none;
    transition: 0.1s ease-in-out;
    height: 15px;
    width: 15px;
}

.image-slot .prev,.image-slot .next{
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 30px;
    border-style: none;
    transition: 0.5s;
    height: 30px;
    width: 30px;
}

.image-slot .prev:hover,.image-slot .next:hover,.image-slot .dot:hover,.image-slot .active{
    opacity: 1;
    transform: scale(1.2);
}

.item-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(154, 114, 255);
    height: 250px;
    width: 400px;
}

.item-card-icon{
    display: flex;
    z-index: 1;
    cursor: pointer;
    border-radius: 0.5rem;
    outline: 0px solid rgb(255,255,255,0);
    transition: outline 0.5s;
    background-color: rgb(35, 0, 125);
    width: 100%;
    height: 100%;
}

.item-card-icon img{
    display: flex;
    width: 100%;
}

.item-card-title{
    text-align: center;
    font-size: 32px;
    background-color: rgb(86, 48, 183);
    width: 100%;
    height: 20%;
}

.item-card-icon:hover{
    outline: 2.5px solid white;
    height: 100%;
}

.slid-8 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin-top: 5rem;
    margin-bottom: 1rem;
    height: 1000px;
    width: 500px;
    min-width: 400px;
    max-width: 400px;
}

.thanks-img {
    height: 200px;
    width: 200px;
}
.thanks-text {
    text-align: center;
}



.grid-card {
    background-color: #00ff08;
    border-radius: 0.5rem;
}

.grid-header {
    grid-area: header;
}
.grid-left {
    grid-area: left;
}
.grid-mid {
    grid-area: mid;
}
.grid-right {
    grid-area: right;
}
.grid-top {
    grid-area: top;
}
.grid-down {
    grid-area: down;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

.flex {
    display: flex;
}

:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

* :is(.dark svg>path) {
    color: inherit
}

:is(.dark .dark\:bg-black) {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}


.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width: 480px) {
    .\!container {
        max-width:780px!important
    }

    .container {
        max-width: 780px
    }
}

@media (min-width: 744px) {
    .\!container {
        max-width:744px!important;
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important
    }

    .container {
        max-width: 744px;
        padding-right: 1.5rem;
        padding-left: 1.5rem
    }
}

@media (min-width: 1024px) {
    .\!container {
        max-width:1024px!important;
        padding-right: 2rem!important;
        padding-left: 2rem!important
    }

    .container {
        max-width: 1024px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}

@media (min-width: 1440px) {
    .\!container {
        max-width:1440px!important;
        padding-right: 4rem!important;
        padding-left: 4rem!important
    }

    .container {
        max-width: 1440px;
        padding-right: 4rem;
        padding-left: 4rem
    }
}


/****************************/



